<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<%= form_with url: session_path, class: "max-w-xl mx-auto my-20 p-10 bg-white rounded"  do |form| %>
<h2 class="text-2xl font-bold mb-6">Sign In</h2>


  <div class="mb-6">
    <%= form.email_field :email_address,
                          required: true,
                          autofocus: true,
                          autocomplete: "username",
                          placeholder: "Enter your email address",
                          class: "w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300",
                          value: params[:email_address] %><br>
  </div>
  <%= form.password_field :password,
    required: true,
    autocomplete: "current-password",
    placeholder: "Enter your password",
    class: "w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300",
    maxlength: 72 %><br>
  <%= form.submit "Sign In", class: "mt-5 bg-zinc-400 hover:bg-zinc-500 text-white font-semibold px-6 py-2 rounded w-full" %>
<% end %>
