 <div class=" min-h-20 bg-neutral-500 p-5 rounded drop-shadow-md/5 text-center content-center h-125">
      <table class="table-auto text-left text-white font-medium border overflow-hidden text-ellipsis w-1/1 text-xl min-h-[200px]">
        <h2 class=" text-white text-3xl font-medium text-left">Keywords</h2>
        <button class ="my-2 bg-white w-4/4 text-red-500 p-1 drop-shadow-md font-light text-left">Search</button>

        <thead>
          <tr>
            <th class="border border-dashed border-red-500 p-1 text-center">#</th>
            <th class="border border-dashed border-red-500 p-1 ">Keyword</th>
            <th class="border border-dashed border-red-500 p-1">SV</th>
          </tr>
        </thead>
        <tbody class="p-5 text-base">
          <% @keywords.each_with_index  do |keyword, index| %>
              
          
          <tr class="border border-dashed border-red-500 ">
            <td class="border border-dashed border-red-500 p-.5 px-1 text-center"><%= index + 1 + ((@current_page - 1) * 10) %></td>
            <td class="border border-dashed border-red-500 p-.5 px-1"><%= keyword.keyword %></td>
            <td class="border border-dashed border-red-500 p-.5 px-1"><%= keyword.search_volume %></td>
          </tr>
          <%# section to handle remaining rows %>
          <% end %>
          <% remaining_rows = 10 - @keywords.size %>
          <% remaining_rows.times do %>
            <tr class="opacity-0">
              <td colspan="3">&nbsp;</td>
            </tr>
          <% end %>
        </tbody>

      </table>
              <div class="flex gap-2 justify-center mt-4">
          <% if @current_page > 1 %>
            <%= link_to "Prev", url_for(page: @current_page - 1), class: "px-2 py-1 border rounded bg-gray-100 hover:bg-gray-200 text-sm" %>
          <% end %>

          <% if @current_page < @total_keyword_pages %>
            <%= link_to "Next", url_for(page: @current_page + 1), class: "px-2 py-1 border rounded bg-gray-100 hover:bg-gray-200 text-sm" %>
          <% end %>

          
          
        </div>
    </div>