<div class="col-span-5 min-h-20 bg-white p-5  rounded drop-shadow-md/5 text-center content-center ">
      <table class="table-auto text-left text-gray-800 font-medium border overflow-hidden text-ellipsis w-1/1 text-xl">
        <%# <button class ="bg-white w-3/4 text-red-500 p-2 drop-shadow-md font-light">Filter Placeholder</button> %>
        <h2 class=" text-gray-500 text-base font-medium text-left">Insights and Issues</h2>
        <thead>
          <tr>
            <th class="border border-dashed border-red-500 p-1 text-base text-center">#</th>
            <th class="border border-dashed border-red-500 p-1 text-base">Project</th>
          </tr>
        </thead>
        <tbody class="p-5 text-base">
          <% @projects.each_with_index  do |project, index| %>
              
          
          <tr class="border border-dashed border-red-500 ">
            <td class="border border-dashed border-red-500 p-.5 px-1 text-center"><%= index + 1 + ((@current_page - 1) * 3) %></td>
            <td class="border border-dashed border-red-500 p-.5 px-1"><%= project.name %></td>
            <td class="border border-dashed border-red-500 p-.5 px-1  text-white text-center"><button class =" bg-red-500 text-white py-2 px-5 drop-shadow-md content-center"><%= link_to project.name, project %></button></td>
          </tr>
          <% end %>
          <% remaining_rows = 3 - @projects.size %>
          <% remaining_rows.times do %>
            <tr class="opacity-0">
              <td colspan="3">&nbsp;</td>
            </tr>
          <% end %>
        </tbody>

      </table>
              <div class="flex gap-2 justify-center mt-4">
          <% if @current_page > 1 %>
            <%= link_to "Prev", url_for(page: @current_page - 1), class: "px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200" %>
          <% end %>

      

          <% if @current_page < @total_project_pages %>
            <%= link_to "Next", url_for(page: @current_page + 1), class: "px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200" %>
          <% end %>
        </div>
    </div>