<div class="max-w-lg mx-auto my-10 p-10">
  <div class="w-full content-center">
    <%= render partial: "/components/tables/keyword_table",
    locals: {
      entries: @projects,
      current_page: @current_page,
      table_config: home_projects_table,
      styling: home_projects_table[:styling],
      entry_key: home_projects_table[:entry_key],
    } %>
  </div>
  <div
    class="
      bg-zinc-500 text-white p-6 my-5 shadow-lg rounded-md w-4xl m-auto w-full
    "
  >
    <ul class="space-y-2">
      <li class="flex justify-between border-b border-red-400 pb-1">
        <span>1 Total Keywords</span>
        <span><%= number_with_delimiter(@insights.keyword_count, precision: 1) %></span>
      </li>
      <li class="flex justify-between border-b border-red-400 pb-1">
        <span>2 Total nGrams</span>
        <span><%= number_with_delimiter(@insights.ngram_count) %></span>
      </li>
      <li class="flex justify-between border-b border-red-400 pb-1">
        <span>3 Number of URL Categories</span>
        <span><%= @insights.categories.count %></span>
      </li>
    </ul>
  </div>
  <div class="m-auto w-full max-w-md">
    <%= link_to "Add New Project",
    new_project_path,
    class:
      "text-center block bg-red-500 text-white p-2 px-5 drop-shadow-md content-center " %>
  </div>
</div>

