<h1>New Project</h1>

<%= form_with model: @project, url: projects_path, multipart: true, data: { controller: "modals", action: "turbo:submit-start->modals#open" } do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :csv_file, "Upload CSV" %>
    <%= form.file_field :csv_file %>
  </div>

  

  <div>
    <%= form.submit "Create Project and Upload CSV" %>
  </div>
<% end %>
