

<%= link_to "Modal", modal_path, data: { turbo_frame: 'modal' } %>
<div class="flex items-center mt-5 ">
  <h1 class="text-xl font-semibold pl-10 pr-5 ">Project: </h1>
    <%= select_tag :project_id,
      options_from_collection_for_select(@projects, :id, :name),
      prompt: @project[:name],
      onchange:  "if(this.value) Turbo.visit('/projects/' + this.value)",
      class: "text-red-500 text-2xl overflow-y-scroll"%>
</div>
<hr class="mx-10 my-5 border-red-500 border-3">
<div class="m-10">
  
<div class="grid grid-cols-6 gap-4 col-span-9 m-10 content-center">
  <div class=" col-span-2 bg-neutral-200 my-5">
    
    <%= turbo_frame_tag "keyword_table" do %>
    <%= render partial: "/components/tables/keyword_table", locals: { 
        entries: @keywords, 
        current_page: @current_page, 
        table_config: project_id_kw_table,
        styling: project_id_kw_table[:styling],
        entry_key: project_id_kw_table[:entry_key]
       } %>
      <% end %>
      
  </div>
  <div class="col-span-3 h-full flex flex-col w-full">
    
    <%= turbo_frame_tag "search_insights_table" do %>
    <%= render partial: "/components/tables/keyword_table", locals: { 
      entries: project_id_insights_table[:urls],
      includes: project_id_insights_table[:include],
      current_page: false,
      table_config: project_id_insights_table,
      styling: project_id_insights_table[:styling],
      entry_key: project_id_insights_table[:entry_key]

       } %>
      <% end %>

     <%# <%= turbo_frame_tag "category_table" do %>
    <%# <%= render partial: "/components/tables/keyword_table", locals: { 
      entries: project_id_category_table[:entries],
      includes: project_id_insights_table[:include], 
      current_page: false,
      table_config: project_id_category_table,
      styling: project_id_category_table[:styling],
      entry_key: project_id_category_table[:entry_key]
      }%>
    <%# <%end %> 


    <%= turbo_frame_tag "phrase_table" do %>
    <%= render partial: "/components/tables/keyword_table", locals: { 
    entries: project_id_ngram_table[:entries],
    total_pages: @total_pages,
    current_page: false,
    table_config: project_id_ngram_table,
    styling: project_id_ngram_table[:styling],
    entry_key: project_id_ngram_table[:entry_key],
    includes: project_id_ngram_table[:include], 
    }%>
    <%end%>
  </div>
  
  <div class="grid grid-rows-4 my-5 gap-5">
    <div class="filter_cards">
      <span class="text-gray-500">Keywords</span>
    <%= form_with url: search_path, html: { class: "text-center" }, method: :post, data: { turbo_frame: "keyword_table" } do %>
    <div class="border-2 border-red-500 text-center rounded-xl align-middle">
    <%= text_field_tag :query, params[:query], placeholder: "All Keywords", class: "text-center w-35 mx-2 text-red-500  p-1" %>
    </div>
    <%= hidden_field_tag :project_id, @project.id %>
    <%# <%= submit_tag "Search" %>
    <% end %>
    
    </div>
        <div class="filter_cards">
        <span class="text-gray-500">URLs</span>
      <%= form_with url: search_insights_path, method: :post, data: { turbo_frame: "search_insights_table" } do %>
        <div class="border-2 border-red-500 text-center rounded-xl align-middle">
    <%= text_field_tag :query, params[:query], placeholder: "All URLs...",class: "text-center w-35 mx-2 text-red-500  p-1" %>
    </div>
    <%= hidden_field_tag :project_id, @project.id %>
    <% end %>
    </div>
        <div class="filter_cards">
          <span class="text-gray-500">Categories</span>
      <%= form_with url: search_ngram_path, method: :post do %>
          <div class="border-2 border-red-500 text-center rounded-xl align-middle">

      <%= text_field_tag :query, params[:query], placeholder: "All Categories...",class: "text-center w-35 mx-2 text-red-500  p-1" %>
      </div>
      <% end %>
    </div>
        <div class="filter_cards">
          <span class="text-gray-500">Phrases</span>
      <%= form_with url: search_ngram_path, method: :post do %>
        <div class="border-2 border-red-500 text-center rounded-xl align-middle">
      <%= text_field_tag :query, params[:query], placeholder: "All Ngrams...",class: "text-center w-35 mx-2 text-red-500  p-1" %>
      <%= hidden_field_tag :project_id, @project.id %>
      </div>
      <% end %>
    </div>
    <%= form_with url: export_zip_file_path, method: :get, target: "_blank", data: {turbo:"false"} do %>
      <%= hidden_field_tag :project_id, @project.id %>
      <%= submit_tag "Download CSV", class: "btn" %>
    <% end %><%= print @project.name%>
      </div>

</div>
<%= link_to "Edit", edit_project_path(@project) %>
<%= button_to "Delete", @project, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<%= link_to "Back", project_path %>

</div>
