<div class="flex items-center gap-4 mx-20 mt-5 px-10 justify-between m-auto border-2 border-red-500 bg-zinc-600">
  <!-- Project label -->
  <div class="flex items-center space-x-4 h-[100px]">
    <h2 class="text-2xl text-white font-semibold">Choose A Project:</h1>
    <%= select_tag :project_id,
      options_from_collection_for_select(@projects, :id, :name),
      prompt: @project&.name || "Select a project",
      onchange: "if(this.value) Turbo.visit('/projects/' + this.value)",
      class: "bg-zinc-300 text-gray-700 text-base px-3 p-2 rounded border appearance-none" %>
  </div>

  <!-- Dropdown -->
 

  <!-- Delete button -->
  <div class="col-span-1 flex justify-end">
    <%= button_to "Delete", project_path(@project),
      method: :delete,
      data: { turbo_confirm: "Are you sure?" },
      class: "bg-red-600 hover:bg-red-700 text-white font-semibold px-6 py-2 rounded" %>
  </div>
</div>
<div class="m-10">
<div class="grid grid-cols-6 gap-5 col-span-9 m-10 content-center">
  <div class=" col-span-2">
    <div class="grid grid-cols-1 gap-5">
    <div class="mt-4 p-5 rounded-xl shadow-xl bg-white backdrop-blur-sm border border-white/20">
      <%= column_chart @keywords.group(:keyword_category).count, height: "300px", **glass_red_chart_options, title: "Categories", ytitle: "KW Count" %>
    </div>
    
    <div class="mt-4 p-5 rounded-xl shadow-xl bg-white backdrop-blur-sm border border-white/20">
      <%= column_chart @top_urls.limit(10).map { |k| [k.name.sub(%r{^[^/]+}, ""), k.kw_count.to_i] }, **glass_red_chart_options, title: "URLs", ytitle: "KW Count" %>
    </div>
  
    <%= turbo_frame_tag "keyword_table" do %>
    <%= render partial: "/components/tables/keyword_table", locals: { 
        entries: @keywords, 
        current_page: @current_page, 
        table_config: project_id_kw_table,
        styling: project_id_kw_table[:styling],
        entry_key: project_id_kw_table[:entry_key]
       } %>
      <% end %>
      
  </div>
  </div>
  
  <div class="col-span-3 h-full flex flex-col w-full gap-5">
  
    <%= turbo_frame_tag "search_insights_table" do %>
    <%= render partial: "/components/tables/keyword_table", locals: { 
      entries: project_id_insights_table[:urls],
      includes: project_id_insights_table[:include],
      current_page: false,
      table_config: project_id_insights_table,
      styling: project_id_insights_table[:styling],
      entry_key: project_id_insights_table[:entry_key]

       } %>
      <% end %>

     <%= turbo_frame_tag "search_categories_table" do %>
     <%= render partial: "/components/tables/keyword_table", locals: { 
      entries: project_id_category_table[:entries],
      includes: project_id_insights_table[:include], 
      current_page: false,
      table_config: project_id_category_table,
      styling: project_id_category_table[:styling],
      entry_key: project_id_category_table[:entry_key]
      }%>
    <%end  %>


    <%= turbo_frame_tag "phrase_table" do %>
    <%= render partial: "/components/tables/keyword_table", locals: { 
    entries: project_id_ngram_table[:entries],
    total_pages: @total_pages,
    current_page: false,
    table_config: project_id_ngram_table,
    styling: project_id_ngram_table[:styling],
    entry_key: project_id_ngram_table[:entry_key],
    includes: project_id_ngram_table[:include], 
    }%>
    <%end%>
  </div>
  
  <div class="grid grid-rows-4 gap-5">
    <div class="bg-gray-200 flex-1 rounded shadow-[8px_8px_0px_0px_rgba(0,0,0,0.1)] flex flex-col items-center justify-center gap-5 mt-5">
      <span class="text-gray-500">Keywords</span>
    <%= form_with url: search_path, html: { class: "text-center" }, method: :post, data: { turbo_frame: "keyword_table" } do %>
    <div class="border-2 border-red-500 text-center rounded-xl align-middle">
    <%= text_field_tag :query, params[:query], placeholder: "Search", class: "text-center 2xl:w-35 2xl:text-lg md:w-25 md:text-xs mx-2 text-red-500  p-1" %>
    </div>
    <%= hidden_field_tag :project_id, @project.id %>
    <%# <%= submit_tag "Search" %>
    <% end %>
    
    </div>
        <div class="bg-gray-200 flex-1 rounded shadow-[8px_8px_0px_0px_rgba(0,0,0,0.1)] flex flex-col items-center justify-center gap-5 mt-5">
        <span class="text-gray-500">URLs</span>
      <%= form_with url: search_insights_path, method: :post, data: { turbo_frame: "search_insights_table" } do %>
        <div class="border-2 border-red-500 text-center rounded-xl align-middle">
    <%= text_field_tag :query, params[:query], placeholder: "Search",class: "text-center 2xl:w-35 2xl:text-lg md:w-25 md:text-xs mx-2 text-red-500  p-1" %>
    </div>
    <%= hidden_field_tag :project_id, @project.id %>
    <% end %>
    </div>

        <div class="bg-gray-200 flex-1 rounded shadow-[8px_8px_0px_0px_rgba(0,0,0,0.1)] flex flex-col items-center justify-center gap-5 mt-5">
          <span class="text-gray-500">Phrases</span>
      <%= form_with url: search_ngram_path, method: :post do %>
        <div class="border-2 border-red-500 text-center rounded-xl align-middle">
      <%= text_field_tag :query, params[:query], placeholder: "Search",class: "text-center 2xl:w-35 2xl:text-lg md:w-25 md:text-xs mx-2 text-red-500  p-1" %>
      <%= hidden_field_tag :project_id, @project.id %>
      </div>
      <% end %>
    </div>
    
    <%= form_with url: export_zip_file_path, method: :get, target: "_blank", data: {turbo:"false"} do %>
      <%= hidden_field_tag :project_id, @project.id %>
      <%= submit_tag "Download CSV", class: "btn" %>
    <% end %><%= print @project.name%>
      </div>

</div>
<%# <%= link_to "Edit", edit_project_path(@project) %>
<%# <%= button_to "Delete", @project, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<%# <%= link_to "Back", project_path %> 

</div>
