<div class="<%=styling[:parent_wrapper]%> p-5">
  <% if (table_config[:title]) %>
    <h2 class="<%=styling[:table_heading]%> font-medium text-lg text-left"><%=table_config[:title]%></h2>
  <% end %>
  <%# <%= render partial: "/components/buttons/search_button"%>
 
  <div class="<%= styling[:table_scroll_behavior] %> pr-5">
  <table class="text-ellipsis w-full ">
    <thead class="sticky top-0 z-10 <%styling[:table_header_styling]%>%">
      <tr>
        <% table_config[:columns].each do | name | %>
        <th class="p-1  <%=styling[:table_header_styling] ? styling[:table_header_styling] : nil%>"><%=name%></th>
        <%end%>
      </tr>
    </thead>
    <tbody class="p-5">
    <% entries.each_with_index do |entry, index| %>
      <%= render partial: "components/tables/table_row", locals: {
        entry: entry,
        index: index,
        current_page: current_page,
        styling: styling,
        includes: defined?(includes) ? includes : {},
        entry_key: entry_key
      } %>
    <% end %>

    </tbody>
  </table>
  </div>
</div>
